@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg-image: url("/background.png");
  --bg-gradient: linear-gradient(
    to bottom,
    rgba(23, 21, 21, 0.75),
    rgba(23, 21, 21, 0.4) 
  );
  --primary: #28AB91;
  --text_green: #28AB91;
  --text-gray: #C9D1CC;
  --text-accent: #7FAF9B;
  --text-white: #E6ECE8;
  --button-text: #E6ECE8;
  --button-bg: #1F4D3E;
  --main-bg: #1F2937;

  --font-logo: 'Inter';
  --font-text: 'Noto Sans JP', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-text);
  --font-mono: var(--font-geist-mono);


    /* ここを追加 👇 */
  --color-primary: var(--primary);
  --color-text_green: var(--text_green);
  --color-text-gray: var(--text-gray);
  --color-text-accent: var(--text-accent);
  --color-text-white: var(--text-white);
  --color-button-text: var(--button-text);
  --color-button-bg: var(--button-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bg-gradient: linear-gradient(
      to bottom,
      rgba(23, 21, 21, 0.6),
      rgba(23, 21, 21, 0.4) 
    );
  }
}

body {
  background-color: var(--background);

  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: var(--foreground);
  font-family:  var(--font-text);
}

@import "tailwindcss";


/* 既存の :root とかはそのままでOKなら残してよい */
